.card {
  background: linear-gradient(145deg, #f0f0f0, #ffffff);
  border-radius: 16px;
  padding: 16px;
  width: 180px;
  text-align: center;
  text-transform: capitalize;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1),
              0 1px 2px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 125px;
  height: 125px;
  margin-bottom: 10px;
  background-color: mistyrose;
  border-radius: 50%;
}

.card p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
